<%layout("/layouts/boilerplate.ejs")%>

    <body>
       <div class="row ">
        <!-- offset is used to give spacing from left -->
        <div class="col-5 offset-3">
        <h1 class="mt-5">Signup</h1>
        <!-- to add styling to new  add bootstrap novalidate and needs-validation -->
        <form action="/signup" method="post" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="title" class="form-label">Username</label>
                <input 
                type="text" 
                name="username" 
                class="form-control"
                placeholder="Ex.mehak"
                required>

                <div class="valid-feedback">Username looks good</div>
            
            </div>

             <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input 
                type="email" 
                name="email" 
                class="form-control"
                placeholder="Ex.abc@example.com"
                required>

              <div class="invalid-feedback">Email format error</div>
            
            </div>



             <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input 
                type="password" 
                name="password" 
                class="form-control"
                placeholder="Ex.pass@123"
                required>

             
            
            </div>



          


            
            <br><br>
            <button class="btn btn-dark add-btn" type="submit">Add</button>
            <br><br>
    </div>

              
        </form>
    </div>
</div>
 </body>